# 0.0 Imports

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 0.1 Helper Functions

## 0.2 Load Data

In [9]:
BUCKET_NAME = 'landing-zone-ds'
FILE_NAME = 'churn.csv'

In [10]:
df = pd.read_csv(os.path.join('gs://', BUCKET_NAME, FILE_NAME))
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# 1.0 Data Description

## 1.1 Data Dimension

## 1.2 Data Types

## 1.3 Check NaN

## 1.4 Data Description

## 1.4.1 Numerical Attributes

## 1.4.2 categorical Attributes

# 2.0 Feature Engineering